{% extends 'shared/base.html' %}
{% block title %}Crear Préstamo{% endblock %}
{% block content %}
<h2>Crear Préstamo</h2>
<form method="POST">
    <div class="mb-3"><input name="nombre" placeholder="Nombre del préstamo" class="form-control" required></div>
    <div class="mb-3"><input name="monto_maximo" placeholder="Monto máximo" type="number" step="0.01" class="form-control" required></div>
    <div class="mb-3"><input name="plazo_meses" placeholder="Plazo (meses)" type="number" class="form-control" required></div>
    <div class="mb-3"><input name="interes" placeholder="Interés %" type="number" step="0.01" class="form-control" required></div>
    <button class="btn btn-success">Crear</button>
    <a href="{{ url_for('admin.loan_list') }}" class="btn btn-outline-dark">Cancelar</a>
</form>
{% endblock %}
